a {
  text-decoration: none;
}
.a__group {
  display: inline-flex;
  font-family: inherit;
  font-size: 1em;
  color: black;
  margin: 0.5em;
  padding: 0.2em 0.3em;
  border: none;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.a {
  font-size: 1.2em;
  border: none;
}

.a__icon {
  height: 2em;
  width: 2em;
  box-shadow: none;
  align-self: center;
}

/* Button Link */
.a-link {
  background-color: transparent;
  color: rgb(12, 12, 12);
}

.a-link:focus {
  outline: none;
}

.a__group-link:hover,
.a__group-link:active {
  background-color: rgb(252, 240, 240);
  border-bottom: 3px solid red;
}

/* custom Variant */

.a__group-custom,
.a-custom {
  background-color: transparent;
  padding: 0;
  margin: 0;
}
